@import "../../../styles/mixins";

.social-media-links-wrapper {
  display: flex;
  align-items: center;

  @include reset-list;
  gap: 10px;

  a {
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
